.aboutUs{
    background-image: url('/public/images/aboutUs.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content span{
      margin: 6px;
  }
  a{
    text-decoration: none;
  }
  .content p{
      width: 35%;
      margin-top:30px;
      font-size: 20px;
  }
  .content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 200px;
    padding-left: 180px;
  }
  .content a{
      color: #5BE584;
      margin-top:40px;
  }
  @media screen and (max-width: 888px) {
    .content{
      padding-top: 260px;
      padding-left: 25px;
    }
    .content h2{
      font-size: 50px;
      font-weight: 700;
    }
    .content p{
        width: 70%;
      font-size: 20px;
    }
  }