.hero{
  background-image: url('/public/images/bg.jpeg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(230.92deg, rgba(22, 28, 36, 0.24) 0%, #161C24 75.84%, #161C24 75.84%, #161C24 75.84%);
}
.content{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 240px;
  padding-left: 180px;
}
.content h2{
  font-size: 60px;
  font-weight: 900;
}
.content h3{
  font-size: 30px;
  padding: 30px 0px;
}
.content span{
  color: #5BE584;
}
.home{
  height: 100vh;
  background-color: #161C24;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team{
  background-color: #161C24;
  color: white;
  display: flex;
  flex-direction: column;
}
.team h3{
  margin: 40px auto;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.team h4{
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.teamSection{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.teamCard{
  /* height: 500px; */
  padding: 35px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #212B36;  
  box-shadow: 0px 16px 32px -4px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.teamimage img{
  border-radius: 14px
}
.teamCard h2{
  font-size: 20px;
  font-weight: 700;
}
.teamCard h3{
  font-size: 15px;
  font-weight: 500;
  margin: 8px;
  margin-bottom: 10px;
}
.socialIcon{
  size: 40px;
  margin: 10px;
}
.socialIcon .social-icon-link{
  margin: 4px 7px;
}
.home p{
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.image{
  height: 70%;
  width: 80%;
  margin: 80px 50px;
  overflow: hidden;
  position: relative;
  background: #161C24;
  opacity: 0.69;
}
.image img {
  display: block;
  margin: 0 auto;
}
.about{
  background-color: #161C24;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.images{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  height: 500px;
  margin: 30px 80px;
}
.images img{
  margin: 10px 10px;
  border-radius: 12px;
}

.description{
  justify-content: auto;
  text-align: justify;
  color: #fff;
  margin: 100px 50px;
  width: 500px;
}
.description h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.description p{
  font-size: 20px;
  width: 500px;
  margin-bottom: 30px;

}
.description a{
  color: #5BE584;
  border: 1px solid rgba(145, 158, 171, 0.32);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
}
.description a:hover{
  background-color: #5BE584;
  color: #000;
}
@media screen and (max-width: 1212px){
  .about{
    flex-direction: column;
  }
  .description{
    align-self: center;
    width: 60%;
    text-align: center;
  }
  .description p{
    width: auto;
    margin:40px 40px;
  }
  .images{
    align-self: center;
  }
}
@media screen and (max-width: 878px){
  .images{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: auto;
    margin: 30px 80px;
  }
  .description{
    margin: 40px 40px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .content{
    padding-top: 260px;
    padding-left: 25px;
  }
  .content h2{
    font-size: 50px;
    font-weight: 700;
  }
  .content h3{
    font-size: 20px;
  }
}